[submodule "qgis"]
	path = feedstocks/qgis
	url = git@github.com:osgeo-forge/qgis-feedstock.git
	branch = master
[submodule "libgdal"]
	path = feedstocks/libgdal
	url = git@github.com:osgeo-forge/libgdal-feedstock.git
	branch = master
[submodule "gdal"]
	path = feedstocks/gdal
	url = git@github.com:osgeo-forge/gdal-feedstock.git
	branch = master
[submodule "qca"]
	path = feedstocks/qca
	url = git@github.com:osgeo-forge/qca-feedstock.git
	branch = master
[submodule "qtkeychain"]
	path = feedstocks/qtkeychain
	url = git@github.com:osgeo-forge/qtkeychain-feedstock.git
	branch = master
[submodule "qscintilla2"]
	path = feedstocks/qscintilla2
	url = git@github.com:osgeo-forge/qscintilla2-feedstock.git
	branch = master
[submodule "qwt"]
	path = feedstocks/qwt
	url = git@github.com:osgeo-forge/qwt-feedstock.git
	branch = master
[submodule "qwtpolar"]
	path = feedstocks/qwtpolar
	url = git@github.com:osgeo-forge/qwtpolar-feedstock.git
	branch = master
[submodule "qtwebkit"]
	path = feedstocks/qtwebkit
	url = git@github.com:osgeo-forge/qtwebkit-feedstock.git
	branch = master
[submodule "pyqt"]
	path = feedstocks/pyqt
	url = git@github.com:osgeo-forge/pyqt-feedstock.git
	branch = master
[submodule "pyqt-qtwebkit"]
	path = feedstocks/pyqt-qtwebkit
	url = git@github.com:osgeo-forge/pyqt-qtwebkit-feedstock.git
	branch = master
[submodule "pyqtwebkit"]
	path = feedstocks/pyqtwebkit
	url = git@github.com:osgeo-forge/pyqtwebkit-feedstock.git
	branch = master
[submodule "qt"]
	path = feedstocks/qt
	url = git@github.com:osgeo-forge/qt-feedstock.git
	branch = master
[submodule "anaconda-env"]
	path = feedstocks/anaconda-env
	url = git@github.com:osgeo-forge/anaconda-env-feedstock.git
	branch = master
[submodule "compiler-rt"]
	path = feedstocks/compiler-rt
	url = git@github.com:osgeo-forge/compiler-rt-feedstock.git
	branch = master
[submodule "pocl"]
	path = feedstocks/pocl
	url = git@github.com:osgeo-forge/pocl-feedstock.git
	branch = master
[submodule "opencl-clhpp"]
	path = feedstocks/opencl-clhpp
	url = git@github.com:osgeo-forge/opencl-clhpp-feedstock.git
	branch = master
[submodule "constructor"]
	path = feedstocks/constructor
	url = git@github.com:osgeo-forge/constructor-feedstock.git
	branch = master
[submodule "bzip2"]
	path = feedstocks/bzip2
	url = git@github.com:osgeo-forge/bzip2-feedstock.git
	branch = master
[submodule "grass"]
	path = feedstocks/grass
	url = git@github.com:osgeo-forge/grass-feedstock.git
	branch = master
[submodule "wxwidgets"]
	path = feedstocks/wxwidgets
	url = git@github.com:osgeo-forge/wxwidgets-feedstock.git
	branch = master
[submodule "libxdr"]
	path = feedstocks/libxdr
	url = git@github.com:osgeo-forge/libxdr-feedstock.git
	branch = master
[submodule "pdcurses"]
	path = feedstocks/pdcurses
	url = git@github.com:osgeo-forge/pdcurses-feedstock.git
	branch = master
[submodule "liblas"]
	path = feedstocks/liblas
	url = git@github.com:osgeo-forge/liblas-feedstock.git
	branch = master
[submodule "laszip"]
	path = feedstocks/laszip
	url = git@github.com:osgeo-forge/laszip-feedstock.git
	branch = master
[submodule "conda-forge-pinning"]
	path = feedstocks/conda-forge-pinning
	url = git@github.com:osgeo-forge/conda-forge-pinning-feedstock.git
	branch = master
[submodule "gnu-regex"]
	path = feedstocks/gnu-regex
	url = git@github.com:osgeo-forge/gnu-regex-feedstock.git
	branch = master
[submodule "python2"]
	path = feedstocks/python2
	url = git@github.com:osgeo-forge/python2-feedstock.git
	branch = master
[submodule "grass-python2"]
	path = feedstocks/grass-python2
	url = git@github.com:osgeo-forge/grass-python2-feedstock.git
	branch = master
[submodule "osgf-env"]
	path = feedstocks/osgf-env
	url = git@github.com:osgeo-forge/osgf-env-feedstock.git
	branch = master
[submodule "win-utils"]
	path = feedstocks/win-utils
	url = git@github.com:osgeo-forge/win-utils-feedstock.git
	branch = master
[submodule "oracle-instantclient"]
	path = feedstocks/oracle-instantclient
	url = git@github.com:osgeo-forge/oracle-instantclient-feedstock.git
	branch = master
[submodule "gpsbabel"]
	path = feedstocks/gpsbabel
	url = git@github.com:osgeo-forge/gpsbabel-feedstock.git
	branch = master
[submodule "fastcgi"]
	path = feedstocks/fastcgi
	url = git@github.com:osgeo-forge/fastcgi-feedstock.git
	branch = master
[submodule "sqlite"]
	path = feedstocks/sqlite
	url = git@github.com:osgeo-forge/sqlite-feedstock.git
	branch = master
[submodule "saga-ltr"]
	path = feedstocks/saga-ltr
	url = git@github.com:osgeo-forge/saga-ltr-feedstock.git
	branch = master
[submodule "libzip"]
	path = feedstocks/libzip
	url = git@github.com:osgeo-forge/libzip-feedstock.git
	branch = master
[submodule "filegdb-api"]
	path = feedstocks/filegdb-api
	url = git@github.com:osgeo-forge/filegdb-api-feedstock.git
	branch = master
[submodule "libgdal-filegdb"]
	path = feedstocks/libgdal-filegdb
	url = git@github.com:osgeo-forge/libgdal-filegdb-feedstock.git
	branch = master
[submodule "ogdi"]
	path = feedstocks/ogdi
	url = git@github.com:osgeo-forge/ogdi-feedstock.git
	branch = master
[submodule "libgdal-ogdi"]
	path = feedstocks/libgdal-ogdi
	url = git@github.com:osgeo-forge/libgdal-ogdi-feedstock.git
	branch = master
[submodule "ecwjp2-sdk"]
	path = feedstocks/ecwjp2-sdk
	url = git@github.com:osgeo-forge/ecwjp2-sdk-feedstock.git
	branch = master
[submodule "libgdal-ecwjp2"]
	path = feedstocks/libgdal-ecwjp2
	url = git@github.com:osgeo-forge/libgdal-ecwjp2-feedstock.git
	branch = master
[submodule "mrsid-sdk"]
	path = feedstocks/mrsid-sdk
	url = git@github.com:osgeo-forge/mrsid-sdk-feedstock.git
	branch = master
[submodule "libgdal-mrsid"]
	path = feedstocks/libgdal-mrsid
	url = git@github.com:osgeo-forge/libgdal-mrsid-feedstock.git
	branch = master
[submodule "libgdal-oracle"]
	path = feedstocks/libgdal-oracle
	url = git@github.com:osgeo-forge/libgdal-oracle-feedstock.git
	branch = master
[submodule "qtserialport"]
	path = feedstocks/qtserialport
	url = git@github.com:osgeo-forge/qtserialport-feedstock.git
	branch = master
[submodule "libp11"]
	path = feedstocks/libp11
	url = git@github.com:osgeo-forge/libp11-feedstock.git
	branch = master
[submodule "conda-forge-ci-setup"]
	path = feedstocks/conda-forge-ci-setup
	url = git@github.com:osgeo-forge/conda-forge-ci-setup-feedstock.git
	branch = master
